* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
    background-color: #ffda6f;
    color: #1e1e1e;
    font-family: Tahoma, sans-serif;
    padding: 25px 0;
  }

  form#search-box {
    display: flex;
    justify-content: center;
  }

  .fa-search {
    font-size: 23px;
  }

  #searchInput {
    width: 12.5em;
    height: 55px;
    box-sizing: border-box;
    /* margin-left: -5%; */
    padding-left: 20px;
    font-size: 21px;
    background-color: #f0f0f0;
    color: #8f8f8f;
    border-radius: 8px;
  }

  #card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #cards-div {
    height: 380px;
    width: 315px;
    background-color: #fefefe;
    border-radius: 10px;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 25px;
    padding: 4px;
    float: left;
    box-shadow: h-offset(20px 20px 50px grey);
  }
  
  #cards-div:hover {
    animation: grow 3s;
  }
  
  #cards-div img{
    height: 230px;
    width: 100%;
    background-color: #4d5cb0;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  
  h1,h2,h3,h4,h6,h6,p{
    padding: 0px;
    margin: 0px;
  }

  h2.tc {
    font-size: 22px;
  }

  p.tc {
    font-size: 15px;
    color: #444;
  }

  .tc {
    padding: 10px 18px 0 18px;
  }

  .tc .uname .email .website {
    font-family: Verdana, sans-serif;
  }
  
  @keyframes grow{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
    100%{
      text-replace: scale(1);
    }
  
  } 


/* 
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
    background-color: #ffda6f;
    color: #1e1e1e;
    font-family: Tahoma, sans-serif;
    padding: 25px 0;
  }

  form#search-box {
    display: flex;
    justify-content: center;
  }

  .fa-search {
    font-size: 23px;
    position: relative;
    left: 40px;
    top: 14px;
  }

  #searchInput {
    width: 380px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 50px;
    font-size: 23px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }

  #card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #cards-div {
    height: 380px;
    width: 315px;
    background-color: #fefefe;
    border-radius: 10px;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 25px;
    padding: 4px;
    float: left;
    box-shadow: h-offset(20px 20px 50px grey);
  }
  
  #cards-div:hover {
    animation: grow 3s;
  }
  
  #cards-div img{
    height: 230px;
    width: 100%;
    background-color: #4d5cb0;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  
  h1,h2,h3,h4,h6,h6,p{
    padding: 0px;
    margin: 0px;
  }

  h2.tc {
    font-size: 22px;
  }

  p.tc {
    font-size: 15px;
    color: #444;
  }

  .tc {
    padding: 10px 18px 0 18px;
  }

  .tc .uname .email .website {
    font-family: Verdana, sans-serif;
  }
  
  @keyframes grow{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
    100%{
      text-replace: scale(1);
    }
  
  }  */